body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
    height: 10vh;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

@media (max-width: 640px) {

  header h1 {
    font-size: 30px;
  }

  .footer-wrapper {
    flex-direction: column;
    margin-top: 10px;
  }
}



.footer-wrapper {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5vh;
  margin-left: 2rem;
  margin-right: 1rem;
}

.footer-data {
  font-family: 'Fugaz One', cursive;
  font-size: 1em;
  font-weight: normal;
  color: #120a17;
}
.footer-text {
  text-decoration: none;
  color: #fff;
}
p {
  margin-top: 15px;
}

.link:hover {
  font-size: 1.02em;
  transition: 0.5s;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
