@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  border: none;
  outline: none;
}

body {
  background-color: #e35eae4d;
  font-family: "Roboto";
  font-size: 14px;
}

.button {
  margin: 5px 10px 0 10px;
  display: inline-block;
  padding: 3px 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Roboto";
  color: #4d4848;
  border-radius: 3px;
  border: none;
  outline: none;
  box-shadow: 0px 1.5px 1px 1px rgba(0, 0, 0, 0.3);
  transition: all .2s ease;
}

.button:hover {
  background-color: #868686;
  color: #ffffff;
}

.button:active {
  box-shadow: 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.4);
}

.button:disabled {
  background-color: #868686;
  color: #ffffff;
  box-shadow: none;
}

.car {
  background: url("../assets/finish.svg") 95% 50%/80px 40px no-repeat;
}

.hide {
  display: none;
}
