/*Typography*/
@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/arial/arial-regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/georgia/georgia-regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/*Variables*/
/*width content*/
/*mixins*/
/*styles*/
html {
  scroll-behavior: smooth;
}

.body {
  box-sizing: border-box;
  display: block;
  text-align: center;
  margin: 0;
}

.header {
  padding-top: 8px;
  height: 111px;
  display: flex;
  justify-content: center;
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
}

.header-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding-top: 24px;
}

@media (max-width: 1279px) {
  .header-wrapper {
    max-width: 708px;
  }
}

@media (max-width: 767px) {
  .header-wrapper {
    max-width: 300px;
  }
}

.logo {
  width: 186px;
  height: 60px;
  margin: 0;
  padding: 0;
}

.logo__header {
  color: #545454;
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  align-items: center;
  margin: 0;
  height: 35px;
}

.logo__text {
  color: #292929;
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
  width: 184px;
  height: 15px;
  margin-left: 2px;
  letter-spacing: 0.1em;
  margin-top: 8px;
}

.header-link {
  text-decoration: none;
  cursor: pointer;
}

.navigator__wrapper {
  display: flex;
  width: 443px;
  height: 27px;
  justify-content: space-between;
  margin-top: 15px;
}

@media (max-width: 767px) {
  .navigator__wrapper {
    display: none;
  }
}

.navigator__link {
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  list-style: none;
  font-size: 15px;
  line-height: 24px;
}

.navigator__link_a {
  color: #545454;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.navigator__link_a:hover {
  color: #292929;
}

.active-link {
  border-bottom: #F1CDB3 3px solid;
  padding-bottom: 3px;
  color: #545454;
}

.body-menu {
  overflow-y: hidden;
}

.menu-adaptive {
  display: none;
}

@media (max-width: 767px) {
  .menu-adaptive {
    display: block;
    background-color: #FFFFFF;
    z-index: 5;
  }
}

.shadow {
  background: rgba(41, 41, 41, 0.6);
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  transition: 0.5s;
}

.burger-menu {
  width: 30px;
  height: 22px;
  position: absolute;
  right: 53px;
  top: 39px;
  transition: 0.5s;
  cursor: pointer;
  z-index: 10;
}

@media (max-width: 320px) {
  .burger-menu {
    width: 30px;
    height: 22px;
    right: 53px;
    top: 39px;
  }
}

.line {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #000000;
  margin: 9px 0;
  position: relative;
}

.open-burger {
  transform: rotate(90deg);
  right: 50px;
  top: 41px;
  transition: 0.5s;
  cursor: pointer;
  overflow-y: hidden;
  height: 33px;
  position: fixed;
}

@media (max-width: 320px) {
  .open-burger {
    right: 50px;
    top: 41px;
    height: 33px;
  }
}

.menu-burger {
  background-color: #FFFFFF;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 320px;
  width: 100%;
  padding: 17px 15px 60px 0px;
  overflow-y: hidden;
  transform: translateX(100%);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@media (max-width: 320px) {
  .menu-burger {
    padding: 14px 16px 60px 0px;
  }
}

.open {
  transform: translateX(0px);
}

.logo-menu {
  width: 186px;
  height: 60px;
  padding-top: 14px;
  margin-left: 25px;
}

@media (max-width: 320px) {
  .logo-menu {
    width: 186px;
    height: 60px;
    padding-top: 16px;
    margin-left: 26px;
  }
}

.text-menu {
  margin-top: 8px;
}

.burger-menu_nav {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 243px;
  padding-top: 158px;
  padding-left: 53px;
  overflow: hidden;
}

@media (max-width: 320px) {
  .burger-menu_nav {
    padding-top: 160px;
    padding-left: 55px;
  }
}

.menu__link {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 51px;
  color: #CDCDCD;
  margin-bottom: 42px;
}

@media (max-width: 320px) {
  .menu__link {
    margin-bottom: 41px;
  }
}

.active-link {
  border-bottom: #F1CDB3 3px solid;
  padding-bottom: 3px;
  color: #545454;
}

/*Our friends*/
.our-friends {
  box-sizing: border-box;
  background-color: #F6F6F6;
  height: 1342px;
}

@media (max-width: 1279px) {
  .our-friends {
    height: 1733px;
  }
}

@media (max-width: 767px) {
  .our-friends {
    height: 1650px;
  }
}

.our-friends-wrapper {
  max-width: 1200px;
  text-align: center;
  align-items: center;
  margin: auto;
  padding-top: 82px;
  padding-left: 3px;
}

@media (max-width: 1279px) {
  .our-friends-wrapper {
    max-width: 580px;
  }
}

@media (max-width: 767px) {
  .our-friends-wrapper {
    max-width: 300px;
    padding-top: 43px;
  }
}

.our-friends-title {
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  width: 400px;
  text-align: center;
  margin: auto;
}

@media (max-width: 767px) {
  .our-friends-title {
    font-size: 25px;
    line-height: 32px;
    max-width: 300px;
    text-align: center;
  }
}

.pets-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 59px;
  flex-wrap: wrap;
}

@media (max-width: 1279px) {
  .pets-card-wrapper {
    margin-top: 29px;
  }
}

@media (max-width: 767px) {
  .pets-card-wrapper {
    justify-content: center;
    margin-top: 43px;
  }
}

.pet {
  width: 270px;
  height: 435px;
  margin-bottom: 30px;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: 0.5s;
  cursor: pointer;
}

.pet:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pet:hover button {
  border: none;
  background-color: #FDDCC4;
}

.pet__img {
  border-radius: 9px 9px 0px 0px;
}

.pet__title {
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
  align-items: center;
  letter-spacing: 0.06em;
  margin-bottom: 32px;
  margin-top: 25px;
  padding-right: 1px;
}

@media (max-width: 767px) {
  .pet__title {
    margin-bottom: 31px;
    padding-right: 0px;
  }
}

.pet__button_border {
  border: 2px solid;
  border-color: #F1CDB3;
  background-color: #FAFAFA;
  box-sizing: border-box;
  border-radius: 100px;
  align-items: center;
  width: 187px;
  height: 52px;
  margin-right: 2px;
}

@media (max-width: 1279px) {
  .pet-none-tablet {
    display: none;
  }
}

@media (max-width: 767px) {
  .pet-mobi {
    display: none;
  }
}

.button__a {
  text-decoration: none;
  font-size: 17px;
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
  color: #292929;
  text-align: center;
  letter-spacing: 0.06em;
}

.buttons {
  display: flex;
  width: 340px;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  margin-top: 28px;
  padding-right: 2px;
}

@media (max-width: 1279px) {
  .buttons {
    margin-top: 9px;
  }
}

@media (max-width: 767px) {
  .buttons {
    max-width: 300px;
  }
}

.buttons__arrow {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.inactive {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
  background-color: #F6F6F6;
}

.number-active {
  color: #292929;
  border: none;
  background-color: #F1CDB3;
}

.active {
  border: 2px solid #F1CDB3;
  color: #292929;
  background-color: #F6F6F6;
  transition: 0.5s;
}

.active:hover {
  cursor: pointer;
  border: none;
  background-color: #FDDCC4;
}

/*footer*/
.footer {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  background-position: center center;
  height: 360px;
  box-sizing: border-box;
}

@media (max-width: 1279px) {
  .footer {
    min-height: 646px;
  }
}

@media (max-width: 767px) {
  .footer {
    height: 815px;
  }
}

.footer-wrapper {
  width: 1200px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

@media (max-width: 1279px) {
  .footer-wrapper {
    max-width: 708px;
    flex-wrap: wrap;
    padding-top: 31px;
    justify-content: space-around;
  }
}

@media (max-width: 767px) {
  .footer-wrapper {
    max-width: 300px;
    padding-top: 30px;
  }
}

@media (max-width: 1279px) {
  .footer-image-wrapper {
    margin-top: 64px;
  }
}

@media (max-width: 767px) {
  .footer-image-wrapper {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .footer-image {
    width: 260px;
    height: 269px;
  }
}

.address {
  height: 234px;
  text-align: start;
  margin-bottom: 45px;
  margin-right: 159px;
}

@media (max-width: 1279px) {
  .address {
    margin: auto;
    max-width: 302px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .address {
    margin: auto;
    margin-bottom: 13px;
  }
}

.address__title {
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  line-height: 45px;
  width: 280px;
  color: #FFFFFF;
  letter-spacing: 0.06em;
  margin-top: 0;
}

@media (max-width: 767px) {
  .address__title {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
  }
}

.address__text {
  display: flex;
  margin-bottom: 37px;
  padding-top: 3px;
}

@media (max-width: 1279px) {
  .address__text {
    padding-top: 4px;
    margin-bottom: 36px;
  }
}

@media (max-width: 767px) {
  .address__text {
    padding-top: 15px;
    margin-bottom: 25px;
  }
}

.address__icon {
  margin-right: 20px;
}

@media (max-width: 767px) {
  .address__icon {
    margin-right: 20px;
    margin-left: 14px;
  }
}

@media (max-width: 767px) {
  .address .tel {
    margin-left: 20px;
  }
}

.address__link {
  color: #F1CDB3;
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-decoration: none;
  padding-top: 5px;
}

.map {
  margin-bottom: 25px;
  padding-top: 0;
}

@media (max-width: 1279px) {
  .map {
    margin-left: -4px;
    margin-right: 1px;
  }
}

@media (max-width: 767px) {
  .map {
    margin-left: 10px;
  }
}

.map-line {
  margin-bottom: 30px;
}

@media (max-width: 1279px) {
  .map-line {
    margin-left: -5px;
    margin-bottom: 27px;
    padding-top: 4px;
  }
}

@media (max-width: 767px) {
  .map-icon {
    margin-left: 5px;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .map-link {
    margin-top: 7px;
  }
}
