@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900");
.main-garage {
  width: 100%;
}

.controlls {
  position: relative;
  padding: 30px 0;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.car-create {
  margin: 0 0 10px 0;
  display: flex;
  align-items: center;
}

.change-cars {
  margin: 0 0 10px 0;
  display: flex;
  align-items: center;
}

.input {
  margin: 0 10px 3px 0;
  height: 24px;
  padding: 4px 10px;
  border-radius: 3px;
  font-family: 'Roboto';
}

.car-create-input {
  margin: 0 10px 0 0;
  width: 100%;
  max-width: 300px;
}

.change-imput {
  margin: 0 10px 0 0;
  width: 100%;
  max-width: 300px;
}

.color-imput {
  width: 100%;
  max-width: 30px;
  margin: 0;
  padding: 1px 0;
}

.control-race {
  display: flex;
}

.race-button {
  margin: 0 20px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 90%;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: #55bb95;
  color: #000000;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Roboto";
}

.race-button:hover {
  background-color: #144b5a;
  color: #cce1e3;
}

.reset-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f64b9b;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3);
  color: #000;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Roboto";
}

.reset-button:hover {
  background-color: #aa67b8;
  color: #200325;
}

.create-cars-btn {
  width: 150px;
  height: 30px;
  background-color: #9b43a1;
  color: #000;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Roboto";
}

.create-cars-btn:hover {
  background-color: #0c444b;
  color: #afc1c4;
}

.create-cars {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pages-control {
  position: absolute;
  bottom: 30px;
  left: -100px;
  font-weight: 800;
}

.all-cars {
  margin: 0 0 5px 0;
  text-decoration: underline;
}

.number-page {
  text-decoration: underline;
}

.container-garage {
  position: relative;
  width: 100%;
}

.winner-message {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.winner-info {
  padding: 10px;
  background-color: #fff;
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.winner-text {
  margin: 0 0 15px 0;
  font-size: 21px;
  font-weight: 800;
  color: #167f71;
}

.message-btn {
  background-color: #6f14a3;
  display: block;
  padding: 5px 20px;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.hide {
  display: none;
}
