.winners {
  padding: 10px 0 0 0;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.wins-count {
  display: inline-block;
  padding: 0 50px 25px 0;
  font-size: 21px;
  font-weight: 700;
}

.wins-page {
  display: inline-block;
  padding: 0 0 25px 0;
  font-size: 21px;
  font-weight: 700;
}

.table-winners {
  padding: 0 8px;
  width: 100%;
  max-width: 516px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(132, 252, 152);
  line-height: 28px;
  border-radius: 3px;
  text-transform: capitalize;
  font-weight: 500;
}

.wins {
  border: none;
  outline: none;
  background-color: rgb(132, 252, 152);
  text-transform: capitalize;
  font-weight: 700;
  cursor: pointer;
}

.best-time {
  border: none;
  outline: none;
  background-color: rgb(132, 252, 152);
  font-weight: 700;
  cursor: pointer;
}

.winner {
  padding: 0 8px;
  width: 100%;
  max-width: 516px;
  margin: 0 auto;
  display: flex;
  background-color: rgb(210, 248, 216);
  line-height: 28px;
  border-radius: 3px;
  text-transform: capitalize;
  font-weight: 500;
}

.win-number {
  flex: 0 0 80px;
  display: flex;
}

.win-car {
  flex: 0 0 107px;
  display: flex;
}

.win-name {
  flex: 0 0 112px;
  display: flex;
  font-size: 9px;
}

.win-wins {
  flex: 0 0 110px;
  display: flex;
}

.win-time {
  flex: 0 0 100px;
  display: flex;
}
