/*Typography*/
@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/arial/arial-regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/georgia/georgia-regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/*Variables*/
/*width content*/
/*mixins*/
/*styles*/
html {
  scroll-behavior: smooth;
}

.body {
  box-sizing: border-box;
  display: block;
  text-align: center;
}

.header {
  padding-top: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  background-image: url(../../assets/images/start-screen-gradient-background.png);
  background-repeat: no-repeat;
  -moz-background-size: 100%;
  background-size: 100%;
  background-position: center 0;
}

@media (max-width: 1279px) {
  .header {
    padding-top: 30px;
    background-image: url(../../assets/images/tablet/start-screen-tablet.png);
  }
}

.header-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 60px;
}

@media (max-width: 1279px) {
  .header-wrapper {
    max-width: 708px;
  }
}

.logo {
  width: 185px;
  height: 60px;
  margin: 0;
  padding: 0;
}

.logo__header {
  color: #F1CDB3;
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.057em;
  align-items: center;
  margin: 0;
  height: 35px;
}

@media (max-width: 1279px) {
  .logo__header {
    padding-top: 1px;
  }
}

.logo__text {
  color: #FFFFFF;
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 15px;
  width: 184px;
  height: 15px;
  margin-left: 2px;
  letter-spacing: 0.1em;
  margin-top: 10px;
}

.header-link {
  text-decoration: none;
  cursor: pointer;
}

.navigator__wrapper {
  display: flex;
  width: 443px;
  height: 27px;
  justify-content: space-between;
  margin-top: 16px;
}

.navigator__link {
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  list-style: none;
  font-size: 15px;
  line-height: 24px;
}

.navigator__link_a {
  color: #CDCDCD;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
}

.navigator__link_a:hover {
  color: #FAFAFA;
}

.active {
  border-bottom: #F1CDB3 3px solid;
  padding-bottom: 4px;
  color: #FAFAFA;
}

/*Not-only*/
.Not-only {
  height: 788px;
  background-image: url(../../assets/images/start-screen-gradient-background.png);
  background-repeat: no-repeat;
  -moz-background-size: 100%;
  background-size: 100%;
  background-position: center -120px;
}

@media (max-width: 1279px) {
  .Not-only {
    height: 1075px;
    background-position: center -90px;
    background-size: 100%;
    background-image: url(../../assets/images/tablet/start-screen-tablet.png);
  }
}

.Not-only_wrapper {
  max-width: 1200px;
  display: flex;
  text-align: center;
  align-items: center;
  margin: auto;
  padding-top: 50px;
}

@media (max-width: 1279px) {
  .Not-only_wrapper {
    max-width: 708px;
    flex-direction: column;
    padding-top: 0px;
  }
}

.text-not-only {
  width: 460px;
  height: 322px;
  padding-bottom: 243px;
  padding-top: 98px;
  padding-right: 40px;
}

@media (max-width: 1279px) {
  .text-not-only {
    padding-top: 24px;
    padding-right: 0;
    padding-bottom: 130px;
  }
}

.text-not-only__title {
  color: #FFFFFF;
  font-family: "Georgia";
  font-size: 44px;
  font-weight: 400;
  font-style: normal;
  line-height: 57px;
  width: 310px;
  text-align: left;
}

.text-not-only__text {
  color: #CDCDCD;
  font-family: "Arial";
  font-size: 15px;
  width: 460px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  text-align: left;
  margin-bottom: 43px;
  margin-top: 41px;
}

@media (max-width: 1279px) {
  .text-not-only__button {
    margin: auto;
  }
}

.button {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  border: none;
  background-color: #F1CDB3;
  transition: 0.5s;
  cursor: pointer;
}

.button:hover {
  background-color: #FDDCC4;
  border: none;
}

.button__a {
  text-decoration: none;
  font-size: 17px;
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
  color: #292929;
  text-align: center;
  letter-spacing: 0.06em;
}

.image-not-only-wrapper {
  padding-top: 10px;
  padding-left: 2px;
}

@media (max-width: 1279px) {
  .image-not-only-wrapper {
    padding-left: 139px;
    padding-top: 6px;
    margin: auto;
  }
}

@media (max-width: 1279px) {
  .image-not-only {
    width: 569px;
    height: 593px;
  }
}

/*about*/
.about {
  background-color: #FFFFFF;
  height: 588px;
}

@media (max-width: 1279px) {
  .about {
    height: 1048px;
  }
}

.about-wrapper {
  max-width: 1200px;
  display: flex;
  text-align: center;
  align-items: center;
  margin: auto;
  justify-content: center;
}

@media (max-width: 1279px) {
  .about-wrapper {
    max-width: 768px;
    flex-direction: column-reverse;
  }
}

.about-image-wrapper {
  width: 300px;
  margin-top: 80px;
  margin-right: 120px;
}

@media (max-width: 1279px) {
  .about-image-wrapper {
    margin-top: 114px;
    margin-right: 0px;
  }
}

.about-text {
  width: 430px;
  height: 380px;
  margin-top: 7px;
}

@media (max-width: 1279px) {
  .about-text {
    margin-top: 46px;
  }
}

.about-text__title {
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: start;
  font-size: 35px;
  width: 370px;
  height: 90px;
  margin-bottom: 24px;
}

.about-text__text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
  text-align: left;
  margin-bottom: 25px;
}

/*our-friends*/
.our-friends {
  box-sizing: border-box;
  background-color: #F6F6F6;
  height: 877px;
}

.our-friends-wrapper {
  max-width: 1200px;
  text-align: center;
  align-items: center;
  margin: auto;
  padding-top: 80px;
  padding-left: 3px;
}

@media (max-width: 1279px) {
  .our-friends-wrapper {
    max-width: 708px;
  }
}

.our-friends-title {
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  width: 400px;
  text-align: center;
  margin: auto;
}

.pets-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.button_arrow {
  width: 52px;
  height: 52px;
  border: 2px solid;
  border-color: #F1CDB3;
  border-radius: 100px;
  transition: 0.5s;
  cursor: pointer;
}

.button_arrow:hover {
  background-color: #FDDCC4;
  border: none;
}

.arrow {
  padding-bottom: 1px;
  padding-right: 2px;
}

.pets-card-wrapper {
  display: flex;
}

@media (max-width: 1279px) {
  .pets-card-wrapper {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    margin-right: 3px;
  }
}

.pet {
  width: 270px;
  height: 435px;
  margin-left: 45px;
  margin-right: 45px;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: 0.5s;
  cursor: pointer;
}

@media (max-width: 1279px) {
  .pet {
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.pet:hover {
  background-color: #FFFFFF;
}

.pet:hover button {
  border: none;
  background-color: #FDDCC4;
}

.pet__img {
  border-radius: 9px 9px 0px 0px;
}

.pet__title {
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
  align-items: center;
  letter-spacing: 0.06em;
  margin-bottom: 29px;
}

.pet__button_border {
  border: 2px solid;
  border-color: #F1CDB3;
  background-color: #FAFAFA;
  box-sizing: border-box;
  border-radius: 100px;
  align-items: center;
  width: 187px;
  height: 52px;
  margin-right: 2px;
}

@media (max-width: 1279px) {
  .pet-tablet {
    display: none;
  }
}

.button-our-friends {
  margin-top: 60px;
}

.button_wide {
  width: 261px;
}

/*help*/
.help {
  background-color: #FFFFFF;
  box-sizing: border-box;
  height: 611px;
}

@media (max-width: 1279px) {
  .help {
    height: 780px;
  }
}

.help-wrapper {
  max-width: 1200px;
  text-align: center;
  align-items: center;
  margin: auto;
  padding-top: 80px;
  padding-left: 3px;
}

@media (max-width: 1279px) {
  .help-wrapper {
    max-width: 708px;
    padding-top: 81px;
  }
}

.help-title {
  width: 318px;
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  color: #545454;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: center;
  margin: auto;
  margin-bottom: 60px;
}

@media (max-width: 1279px) {
  .help-title {
    margin-bottom: 59px;
  }
}

.line-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 1279px) {
  .line-svg {
    max-width: 640px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-around;
    grid-column-gap: 50px;
    margin: auto;
    padding-right: 4px;
  }
}

.block-svg {
  height: 113px;
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 55px;
}

@media (max-width: 1279px) {
  .block-svg {
    margin: auto;
    margin-bottom: 55px;
    width: 170px;
  }
}

.block-svg__img {
  width: 60px;
  height: 60px;
  align-items: center;
}

.block-svg__text {
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  align-items: flex-start;
  letter-spacing: 0.06em;
  color: #545454;
}

@media (max-width: 1279px) {
  .block-svg__text {
    padding-left: 2px;
  }
}

/*in addition*/
.in-addition {
  background-color: #F6F6F6;
  box-sizing: border-box;
  height: 462px;
}

@media (max-width: 1279px) {
  .in-addition {
    height: 782px;
  }
}

.in-addition-wrapper {
  width: 920px;
  display: flex;
  margin: auto;
  padding-top: 80px;
  justify-content: space-around;
}

@media (max-width: 1279px) {
  .in-addition-wrapper {
    max-width: 700px;
    flex-direction: column-reverse;
  }
}

.image-in-addition-wrapper {
  margin-top: 10px;
}

@media (max-width: 1279px) {
  .image-in-addition-wrapper {
    margin-top: 48px;
    margin-right: 1px;
  }
}

.in-addition-text {
  margin-left: 25px;
}

@media (max-width: 1279px) {
  .in-addition-text {
    margin: auto;
    text-align: center;
  }
}

.in-addition-text__title {
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #545454;
  width: 300px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 5px;
}

.in-addition-text__text {
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 17px;
  color: #545454;
  letter-spacing: 0.06em;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 1279px) {
  .in-addition-text__text {
    margin-top: 19px;
  }
}

.in-addition-text__text-italic {
  font-family: "Arial";
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  color: #B2B2B2;
  line-height: 18px;
  text-align: start;
  width: 380px;
}

.button_donation {
  display: flex;
  justify-content: space-around;
  width: 349px;
  border: none;
  border-radius: 9px;
  height: 43px;
  background-color: #F1CDB3;
  margin-bottom: 20px;
}

.button_donation:hover {
  background-color: #FDDCC4;
}

.button__a_donation {
  font-size: 20px;
  line-height: 23px;
  color: #545454;
  text-decoration: none;
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
}

.span-text {
  position: relative;
  bottom: 5px;
  left: 2px;
}

@media (max-width: 1279px) {
  .span-text {
    bottom: 6px;
  }
}

.button__image {
  margin-right: 13px;
  margin-top: 10px;
}

/*footer*/
.footer {
  background-image: url(../../assets/images/footer-gradient-background.png);
  background-repeat: no-repeat;
  -moz-background-size: 100%;
  background-size: 100%;
  background-position: center 0;
  height: 350x;
  box-sizing: border-box;
}

@media (max-width: 1279px) {
  .footer {
    background-image: url(../../assets/images/tablet/footer-tablet.png);
    height: 639px;
  }
}

.footer-wrapper {
  width: 1200px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

@media (max-width: 1279px) {
  .footer-wrapper {
    max-width: 708px;
    flex-wrap: wrap;
    padding-top: 31px;
    justify-content: space-around;
  }
}

@media (max-width: 1279px) {
  .footer-image-wrapper {
    margin-top: 64px;
  }
}

.address {
  height: 234px;
  text-align: start;
  margin-bottom: 45px;
  margin-right: 159px;
}

@media (max-width: 1279px) {
  .address {
    margin: auto;
    max-width: 302px;
    margin-right: 29px;
  }
}

.address__title {
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  line-height: 45px;
  width: 280px;
  color: #FFFFFF;
  letter-spacing: 0.06em;
  margin-top: 0;
}

.address__text {
  display: flex;
  margin-bottom: 37px;
  padding-top: 3px;
}

@media (max-width: 1279px) {
  .address__text {
    padding-top: 4px;
    margin-bottom: 36px;
  }
}

.address__icon {
  margin-right: 20px;
}

.address__link {
  color: #F1CDB3;
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-decoration: none;
  padding-top: 5px;
}

.map {
  margin-bottom: 24px;
  padding-top: 0;
}

@media (max-width: 1279px) {
  .map {
    margin-left: -4px;
    margin-right: 1px;
  }
}

.map-line {
  margin-bottom: 30px;
}

@media (max-width: 1279px) {
  .map-line {
    margin-left: -5px;
    margin-bottom: 27px;
    padding-top: 4px;
  }
}
