/*Typography*/
@font-face {
font-family: 'Arial';
src: url('../../assets/fonts/arial/arial-regular.ttf');
font-weight: normal;
font-style: normal;
}

/*@font-face {
  font-family: 'Arial';
  src: url('../../assets/fonts/arial/arial-italic.ttf');
  font-weight: normal;
  font-style: italic;
}*/

@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/georgia/georgia-regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/*@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/georgia/georgia-bold.ttf');
  font-weight: normal;
  font-style: bold;
}*/
/*Variables*/
$font-pharagraph: 'Arial';
$font-heading: 'Georgia';

$size-h1: 32px;
$size-h2: 44px;
$size-h3: 35px;
$size-h4: 20px;
$size-h5: 15px;
$size-logo-sub: 13px;
$size-button-text: 17px;
$size-pharagraph-l: 15px;
$size-pharagraph-s: 12px;


$color-primary: #F1CDB3;
$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;



//доделать фон хедера и футера
.body {
  box-sizing: border-box;
  display: block;
  text-align: center;
}

.header {
  padding-top: 60px;
  height: 60px;
  display: flex;
  justify-content: center;  
  background-color: #000000;
  &-wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 60px;
  }
}

.logo {
  width: 184px;
  height: 60px;
  margin: 0;
  padding: 0;;
  &__header {
    color: $color-primary;
    font-family: $font-heading;
    font-weight: 400;
    font-style: normal;
    font-size: $size-h1;
    line-height: 35px;
    letter-spacing: 1.5px;
    opacity: 0.32;
    margin: 0;
    height: 35px;
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__text {
    color: $color-light-xl;
    font-family: $font-pharagraph;
    font-weight: 400;
    font-style: normal;
    font-size: $size-logo-sub;
    line-height: 15px;
    width: 184px;
    height: 15px;
    margin: 8px 0 0 2px;
    padding: 0;
    letter-spacing: 1.4px;
   
  }
}

.navigator {
  &__wrapper {
    display: flex;
    width: 443px;
    height: 27px;
    justify-content: space-between;
    margin-top: 20px;

  }
  &__link {
    font-family: $font-pharagraph;
    font-weight: 400;
    font-style: normal;
    &_a {
    color: $color-dark-s;
    text-decoration: none;
    }
  }
}

.Not-only {
  height: 788px;
  background-color: #000000;
  &_wrapper {
    width: 1200px;
    display: flex;
    text-align: center;
    align-items: center;
    margin:auto;
    padding-top: 50px;
  }
}

.text-not-only {
  width: 460px;
  height: 322px;
  padding-bottom: 243px;
  padding-top: 100px;
  padding-right: 40px;
  &__title {
    color: $color-light-xl;
    font-family: $font-heading;
    font-size: $size-h2;
    font-weight: 400;
    font-style: normal;
    line-height: 57px;
    width: 310px;
    text-align: left;
  }

  &__text {
    color: $color-dark-s;
    font-family: $font-pharagraph;
    font-size: $size-pharagraph-l;
    width: 460px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    text-align: left;
    margin-bottom: 43px;
    margin-top: 40px;
  }
}

  .button {
    width: 207px;
    height: 52px;
    border-radius: 100px;
    border: none;
    background-color: $color-primary;

    &__a {
      text-decoration: none;
      font-size: $size-button-text;
      font-family: $font-heading;
      font-weight: 400;
      font-style: normal;
      line-height: 22px;
      color: $color-dark-3xl;
      text-align: center;
      letter-spacing: 0.06em;
    }
  }

  .image-not-only-wrapper {
    padding-top: 10px;
  }

.about {
  background-color: $color-light-xl;
  height: 588px;

  &-wrapper {
    width: 1200px;
    display: flex;
    text-align: center;
    align-items: center;
    margin:auto;
    justify-content: center;
  }

  &-image-wrapper {
    width: 300px;
    margin-top: 82px;
    margin-right: 120px;
  }

  &-text {
    width: 430px;
    height: 380px;
    margin-top: 6px;

    &__title {
      font-family: $font-heading;
      font-weight: 400;
      font-style: normal;
      line-height: 45px;
      letter-spacing: 0.06em;
      color: $color-dark-l;
      text-align: start;
      font-size: $size-h3;
      width: 370px;
      height: 90px;
      margin-bottom: 25px;
    }

    &__text {
      font-family: $font-pharagraph;
      font-style: normal;
      font-weight: 400;
      font-size: $size-pharagraph-l;
      line-height: 24px;
      color: $color-dark-xl;
      text-align: left;
      margin-bottom: 25px;
    }
  }
}

