.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding-left: 10px;

  &__btn {
    margin: 5px 10px;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border:#ffffff solid 1px;
    cursor: pointer;
    transition: 0.7s;

    &:active {
      background-color: #f4cd95;
      border: none;
    }


    &_cover {
      width: 350px;
    }

    &:hover {
      background-color: #f3e9d4;
    }


  }

  &__wrapper {
    width: 80%;
  }

}

.title__filter {
  color: #d1caca;
  width: 300px;
}
