.input {
  width: 80%;
  height: 40px;
  border-radius: 15px;
  padding-left: 10px;
  background-color: rgba($color: #413e3e, $alpha: 0.7);
  color: #d1caca;

  &::placeholder {
   color: #608fa0;
  }
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
