.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 45px;
  width: 80%;
  margin: auto;
}

.products-element {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border: #bdb7b7 solid 2px;
  border-radius: 16px;
  backdrop-filter: blur(3px);
  background-color: rgba($color: #6b6464, $alpha: 0.6);
  font-size: 16px;
  color: #d1caca;

  &__name {
    margin-bottom: auto;
    text-align: center;
    font-size: 18px;

  }

  &__img {
    margin-top: 5px;
  }

  &__button {
    margin-bottom: 10px;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    border:#ffffff solid 1px;
  }
}
