.filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 0.9fr));
  gap: 45px;
  width: 90%;
  margin: auto;
  justify-content: center;
}

.sorting {
  background-color: rgba($color: #6b6464, $alpha: 0.6);
  border: #bdb7b7 solid 2px;
  border-radius: 16px;
  backdrop-filter: blur(3px);
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;

  &-title {
    color: #d1caca;
    text-align: center;
    margin-bottom: 10px;
  }

  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding-left: 10px;
  }

  &-button {
    margin: 0 10px 15px 10px;
    width: 170px;
    height: 50px;
    border-radius: 15px;
    border:#ffffff solid 1px;
    cursor: pointer;
    transition: 0.7s;


    &:hover {
      background-color: #f3e9d4;
    }

    &:active {
      background-color: #f4cd95;
      border: none;
      width: 180px;
    }
  }
}
