.navigation {
  padding: 10px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-buttons {
  display: inline-block;
  text-decoration: none;
  background-color: #efefef;
  text-align: center;
  margin: 0 5px;
  min-width: 120px;
}
