.header {
  height: 50px;
  display: flex;
  background-color: rgba($color: #000000, $alpha: 0.5);
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  color: #ffffff;
}

.basket-img {
  width: 50px;
}

.count {
  color:#eb8740;
}
